*{
    /* outline: 2px solid red; */
}

body{
    height: 100vh;
    margin: 0;  
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.master{
    display: flex;
    flex-direction: column;
}

/* TOP OF THE WEBSITE */
.top{
    background-color: #1F2937;    
}

.top>.header{
    width: 75%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 10px auto;
    gap:16px;
}

.left{
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
    
}

.right{
    display: flex;
    padding: 0;
    gap: 18px;
    text-align: center;
}

a{
    text-decoration: none;
    color: aliceblue;
}

ul{
    list-style-type: none;
}

.content{
    width: 75%;
    height:260px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    margin-bottom: 50px;
    gap: 20px;
    padding: 20px 0;
}

.subdiv-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1;
}

.subdiv-2{
    color: #F9FAF8;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button{
    font-size: 15px;
    background-color:#3b82f6;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px 32px 8px 32px;
    
}

/* SECOND SECTION OF THE WEBSITE */

.info{
    background-color:hsl(90, 17%, 98%);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    height:260px;
    
}

.info>.header{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.content-2{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 8px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
    border-style:double;
    border-color: #3b82f6;
    border-radius: 8px;
}

/* THIRD SECTION OF THE WEBSITE */

.quote{
    min-height: 270px;
    height: fit-content;
    background-color:#e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 25px;
   
}

.stuff{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin: 20px 90px 20px 90px;
    padding: 0 90px 0 90px;
    
}

.author{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin: 0 90px 10px 90px;
    padding: 0 90px 0 90px;
}